#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.drawer-content {
  padding: 20px;
}

.avatar-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
  font-weight: 500;
  background-color: transparent;
  color: black;
}

.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  color: black;
}

.avatar {
  border: 2px solid #ccc;
}
